header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  text-align: center;
  background-image: url(../../assets/images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% top;
}

header::after {
  content: '';
  display: block;
  flex: 1fr;
}

h1 {
  --font-size: 2.6rem;

  padding: var(--font-size);

  color: white;
  font-weight: 500;
  font-size: var(--font-size);
}

form {
  --border-radius: 1.5rem;
  --font-size: 1.8rem;

  display: flex;
  justify-content: center;
  padding-bottom: var(--font-size);

  input {
    padding: var(--font-size) calc(var(--font-size) + 1rem);

    border: none;

    // reset border radius on iOS
    -webkit-appearance: none;

    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size);
  }

  button {
    padding: 0 2.5rem;

    background-color: black;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    img {
      display: block;
    }
  }
}
