#appWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, minmax(5rem, 1fr));
  height: 100vh;
}

app-header {
  grid-row: 1 / 7;
  grid-column: 1 / 2;
  display: block;
  z-index: 1;
}

app-data-display {
  grid-row: 5 / 8;
  grid-column: 1 / 2;
  display: block;
  margin: 0 2rem 0;
  z-index: 2;
}

app-map {
  grid-row: 7 / 17;
  grid-column: 1 / 2;
  display: block;
  width: 100%;
  z-index: 1;
}

//// Screen size >= 1175px ///////////////////////////////////////////////

@media screen and (min-width: 1175px) {
  app-header {
    grid-row: 1 / 6;
  }

  app-data-display {
    grid-row: 5 / 7;
    // margin-top: -2rem;
  }

  app-map {
    grid-row: 6 / 17;
  }
}



















///////////////////////////////////////////////////////

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }

// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
