#appWrapper {
  --header-height: 35vh;
}

app-header {
  display: block;
  height: var(--header-height);
}

app-map {
  display: block;
  width: 100%;
  height: calc(100vh - var(--header-height));
}



















///////////////////////////////////////////////////////

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }

// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
