#dataDisplayWrapper {
  background-color: white;
  border-radius: 1.5rem;
}

ul#data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;

  list-style-type: none;

  li {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

    h2 {
      margin: 1rem 0 0.5rem;

      color: var(--dark-grey);
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}


//// Screen size >= 1175px /////////////////////////////////////////////

@media screen and (min-width: 1175px) {
  #dataDisplayWrapper {
    margin: 0 14rem;
  }

  ul#data {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    // padding: 4rem 2rem;

    li {
      flex: 1;
      padding: 0 5rem 0 2rem;

      text-align: left;
      font-size: 2.5rem;
      border-right: 1px solid lightgray;

      h2 {
        margin: -0.5rem 0 1.5rem;
        font-size: 1.2rem;
      }
    }

    li:last-child {
      border-right: none;
    }

  }

}
